<%content_for :page_title, @post.title  %>

<section class="section">
  <div class="container">
    <nav class="level">
      <!--- Left Side -->
      <div class="level-left">
        <p class="level-item">
          <strong class="tag is-primary is-medium">Actions</strong>
        </p>
      </div>

      <!-- Right Side -->
      <div class="level-right">
        <p class="level-item">
          <%= link_to "Edit", edit_post_path(@post), class: "button"%>
        </p>

        <p class="level-item">
          <p>
            <%= button_to 'Delete',post_path(@post), method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}}, class:"button is-danger" %>
          </p>
        </p>
      </div>

    </nav>
  </div>
</section>

<center>
  <section class="section">
    <container class="container">
      <div class="title">
        <h1 class="content-title">Content</h1>
      </div>
      <div class="content">
        <%= @post.content %>
      </div>
    </container>
  </section>
  <div class="publishing-info">
    <span class="tag is-info is-normal">Published at : <%= @post.created_at %></span>
  </div>
</center>

<br/>
<center>
  <section class="tag is-primary is-medium">Comments</section>
</center>
